.body{
background: radial-gradient(circle at top, #ff5e5e, #171aec);




}



.header{
  background: linear-gradient(to right, rgb(224, 95, 145), blue);

padding: 60px; 
text-align: center;
color: #2E2E2E;

}




.header h1{
color: #F5F5F5;



}
.nav{
background-color: #112044d7;
text-align: center;
padding: 12px;


}
.nav a{
color:  #ffffff;
text-decoration-line: none;
background-color: #0fbfebb6;
margin :12px;
padding: 5px 12px;
font: size 18px;
border-radius: 30px;
}
.nav a:hover{
  box-shadow: 0 0 10px 5px #03fcfcb3;
  
}
.content{
  background-color: #8886f83b;
  padding: 350px;
  position: relative; 
}

.box{
  background: linear-gradient(to bottom, rgb(217, 9, 236), blue);
  width: 300px;
  height: 650px;
  position: absolute;
  border-radius: 20px;
  
right: 40px;
top: 40px;
}
.box img{
width: 300px;
height: 400px;
border-radius: 10px;
}

.box2{
 background: linear-gradient(to bottom, rgb(217, 9, 236), blue);
  width: 300px;
  height: 650px;
  position: absolute;
  right: 650px;
  top: 40px; 
  border-radius: 20px;
}
.box2 img{
width: 300px;
height: 400px;
border-radius: 10px;
}
.box3{
 background: linear-gradient(to bottom, rgb(217, 9, 236), blue);
 width: 300px;
  height: 650px;
  position: absolute;
  top: 40px;
  left: 40px; 
  border-radius: 20px;
}

.box3 img{
width: 300px;
height: 400px;
border-radius: 10px;
}

.box p{
text-align:center;

}

.box2 p{
text-align:center;

}
.box3 p{
text-align:center;

}
.box:hover{
  box-shadow: 0 0 40px 5px #303efd;

}
.box2:hover{
  box-shadow: 0 0 40px 5px #303efd;

}
.box3:hover{
  box-shadow: 0 0 40px 5px #303efd;

}

.footer{
background-color: rgb(10, 141, 255);
height: 80px;
padding: 5px;

}
.top{
color: #000000;
text-align: center;

}
.bottom{
color: #fafafa;
text-align: center;
